html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6f7f9;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Montserrat';
  font-weight: 200; }

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

a {
  color: #f22d58;
  cursor: pointer; }

hr {
  border-top: 1px solid #ccc; }

.btn.btn-primary {
  background-color: #f22d58;
  border: none;
  text-transform: capitalize;
  height: 36px;
  font-weight: 200; }

.btn.btn-accent {
  background-color: transparent;
  border: 1px solid #f22d58;
  text-transform: capitalize;
  height: 36px;
  color: #f22d58;
  font-weight: 200;
  margin: 0 8px; }

.btn span {
  margin: 16px; }

.btn.btn-md {
  width: 200px; }

input.input-lg {
  width: 400px; }

.text-accent {
  color: #f22d58; }

.text-black {
  color: rgba(0, 0, 0, 0.87); }

.text-white {
  color: white; }

nav {
  border-radius: 0;
  border-color: transparent !important; }

.content {
  margin: 32px 0; }

nav#menu-home {
  z-index: 99;
  height: 55px;
  border-radius: 0;
  background-color: rgba(43, 49, 63, 0.8);
  color: white;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  nav#menu-home a {
    color: white;
    font-weight: 400; }

#register #menu-home {
  background-color: #2c313f; }

#home {
  background-color: white;
  color: rgba(0, 0, 0, 0.54); }
  #home .home-top {
    background-image: url("../images/home-bg.jpg");
    background-color: #ccc;
    height: 450px;
    color: rgba(255, 255, 255, 0.95);
    text-align: center; }
    #home .home-top h1 {
      font-weight: 200;
      color: rgba(255, 255, 255, 0.95);
      letter-spacing: 2px;
      margin: 0; }
    #home .home-top p {
      letter-spacing: 1px; }
    #home .home-top .heading {
      margin-top: 150px;
      margin-bottom: 50px; }
  #home .home-bottom {
    /*background-color: white;*/
    padding-bottom: 55px; }

#writbandcard {
  margin-top: -150px; }
  #writbandcard img {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: block; }

#login {
  height: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  width: 100%; }
  #login .jumbotron {
    max-width: 400px;
    padding: 2em;
    border-radius: 5px;
    margin: 120px auto 0 auto;
    background-color: white; }
  #login button {
    width: 100%;
    padding: 3px; }
    #login button span {
      text-transform: capitalize; }
  #login h4 {
    font-weight: 200;
    margin: 32px 0; }
    #login h4 span {
      font-weight: 400; }

div#login {
  background-color: #2c313f;
  height: 100%;
  width: 100%;
  position: absolute; }

#register h1, #register h2, #register h3, #register h4, #register h5 {
  font-family: 'Montserrat';
  font-weight: 400; }

#wrapper {
  min-height: 100%;
  position: relative; }

#header {
  height: 55px;
  border-radius: 0;
  background-color: #2c313f;
  color: white; }
  #header a {
    color: white;
    font-weight: 400; }

#subheader {
  position: absolute;
  top: 55px;
  background-color: white;
  width: 100%;
  height: 36px;
  min-height: 36px;
  border-radius: 0; }
  #subheader a {
    padding-top: 8px;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    height: 36px;
    cursor: pointer; }
  #subheader li.active {
    border-bottom: solid 2px #f22d58; }

#main {
  margin-top: 55px;
  padding-bottom: 55px; }
  #main a {
    color: #f22d58; }

#sidebar {
  border-right: 1px solid #ccc;
  height: 400px; }
  #sidebar ul {
    list-style-type: none;
    padding: 0; }
    #sidebar ul button {
      background-color: #ccc;
      color: white;
      width: 200px;
      margin: 0.25em 0.5em 0 0;
      text-align: left;
      padding-left: 2em;
      font-weight: 200; }
    #sidebar ul li.active button {
      background-color: #3b507f;
      color: white; }

.wristband-card .card-number {
  font-weight: 400;
  color: #f22d58; }

nav#footer.navbar {
  background-color: #2c313f;
  color: white;
  height: 55px;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0; }

.page-content p {
  color: rgba(0, 0, 0, 0.54); }

.info {
  height: 36px;
  background-color: #ccc;
  margin-top: 32px;
  padding: 8px;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.54); }

.reload {
  border: #ccc solid 1px;
  padding: 32px;
  margin-top: 32px; }
