$primary-color: #3b507f;
$secondary-color: #f22d58;
$black1: rgba(0,0,0,0.87);
$black2: rgba(0,0,0,0.54);
$white1: rgba(255,255,255,1);
$white2: rgba(255,255,255,0.7);

$grey: #2c313f;
$grey2: #ccc;

html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #f6f7f9;
	color: $black1;

	font-family: 'Montserrat';
	font-weight: 200;
}

h1,h2,h3,h4,h5{
	font-family: 'Montserrat';
	font-weight: 200;
	color: $black1;
}

a{
	color:$secondary-color;
	cursor: pointer;
}

hr{
	border-top: 1px solid $grey2;
}

.btn.btn-primary{
	background-color: $secondary-color;
	border: none;
	text-transform: capitalize;
	height: 36px;
  font-weight: 200;
}

.btn span{
	margin: 16px;
}

.btn.btn-md{
	width: 200px;
}

input.input-lg{
	width: 400px;
}

.text-accent{
	color: $secondary-color;
}

.text-black{
	color: $black1;
}

.text-white{
	color: $white1;
}

nav{
	border-radius: 0;
	border-color: transparent !important;
}

.content{
	margin: 32px 0;
}


nav#menu-home{
	z-index: 99;
	height: 55px;
	border-radius: 0;
	background-color: rgba(43,49,63,0.8);
	color: $white1;
	margin: 0;
	position: absolute;
	top:0;
	width: 100%;
	a{
		color: $white1;
		font-weight: 400;
	}
}

#register #menu-home{
		background-color: #2c313f;
}

$topHeight : 450px;
#home{
	background-color: white;
	color:$black2;
	.home-top{
		background-image: url('../images/home-bg.jpg');
		background-color: #ccc;
		height: $topHeight;
		color: rgba(255,255,255,0.95);
		text-align: center;
		h1{
			font-weight: 200;
			color: rgba(255,255,255,0.95);
			letter-spacing: 2px;
			margin: 0;
		}
		p{
			letter-spacing: 1px;
		}
		.heading{
			margin-top: 150px;
			margin-bottom: 50px;
		}
	}

	.home-bottom{
		/*background-color: white;*/
		padding-bottom: 55px;
		form{
		}
	}
}

#writbandcard{
	margin-top: -150px;
	img{
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
		display: block;
	}

}

#login{
	height: 100%;
	background-image: url('../images/background.jpg');
	background-size: cover;
	width: 100%;
	.jumbotron{
		max-width: 400px;
		padding: 2em;
		border-radius: 5px;
		margin: 120px auto 0 auto;
		background-color: $white1;
	}
	button{
		width: 100%;
		padding: 3px;
		span{
			text-transform: capitalize;
		}
	}
	h4{
		font-weight: 200;
		margin: 32px 0;
		span{
			font-weight: 400;
		}
	}
}

div#login{
	background-color: $grey;
	height: 100%;
	width: 100%;
	position: absolute;
}

.form-group{
	label{

	}
}

#register{
	h1,h2,h3,h4,h5{
		font-family: 'Montserrat';
		font-weight: 400;
	}
}

#wrapper{
	min-height:100%;
		position:relative;
}

#header{
	height: 55px;
	border-radius: 0;
	background-color: $grey;
	color: $white1;
	a{
		color: $white1;
		font-weight: 400;
	}
}

#subheader{
	position: absolute;
	top: 55px;
	background-color: white;
	width: 100%;
	height: 36px;
	min-height: 36px;
	border-radius: 0;
	
	a{
		padding-top: 8px;
		padding-bottom: 0;
		color: $black1;
		font-weight: 400;
		height: 36px;    
		cursor: pointer;
	}

	li.active{
		border-bottom: solid 2px $secondary-color;
	}
}

#main{
	margin-top: 55px;	
	padding-bottom: 55px;

	a{
		color:$secondary-color;
	}
}

#sidebar{
	border-right: 1px solid $grey2;
	ul{
		list-style-type: none;
		padding: 0;
		button{
			background-color: $grey2;
			color: $white1;
			width: 200px;
			margin: 0.25em 0.5em 0 0 ;
			text-align: left;
				padding-left: 2em;
				font-weight: 200;
		}
		li.active{
			button{
				background-color: $primary-color;
				color: $white1;

			}
		}
	}
}

.wristband-card{
	.card-number{
		font-weight: 400;
		color: $secondary-color;
	}
}

nav#footer.navbar{
	background-color: $grey;
	color: $white1;
	height: 55px;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
			position: absolute;
		bottom: 0;
}