<div ng-include src="'views/shared/header.html'"></div>
<div ng-include src="'views/shared/subheader.html'"></div>

<div id="wrapper">
  <div id="sidebar-wrapper">
      <div ng-include src="'views/shared/menu-profile.html'"></div>
  </div>
  
  <div id="page-content-wrapper">
      <div class="page-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Personal Info</h3>
                <h5>Account and personal information</h5>
                <p>This is your...</p>
                <br>
                
                <h5>My Username & Password</h5>
                <p>
                Username <a href="">change login email</a>
                Password <a href="">change password</a>
                </p>
                <br>
                
                <h5>My Birthday</h5>
                <p>Birtdah dd MM YYYY</p>
                <br>
                <p>Your privacy...</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div ng-include src="'views/shared/footer.html'"></div>
