<div id="sidebar">
  	<ul class="sidebar-nav">
	    <li class="active"><button class="btn btn-default"><span>Card Information</span></button></li>
	    <li><button class="btn btn-default"><span>Reload Your Card</span></button></li>    
		<li><button class="btn btn-default"><span>View Transaction</span></button></li>  
		<li><button class="btn btn-default"><span>Purchase History</span></button></li>  
		<li><button class="btn btn-default"><span>Card FAQs</span></button></li>  
		<li><button class="btn btn-default"><span>Report Lost or Stolen</span></button></li>
	</ul>
</div>