<div id="sidebar">
  	<ul class="sidebar-nav">
	    <li ng-class="{'active' :  page == 'wristbandcard'}">
	    	<button ng-click="go('/wristbandcard')" class="btn btn-default"><span>Card Information</span></button>
	    </li>
	    <li ng-class="{'active' :  page == 'reload'}">
	    	<button ng-click="go('/wristbandcard/reload')" class="btn btn-default"><span>Reload Your Card</span></button>
	    </li>    
		<li ng-class="{'active' :  page == 'transaction'}">
			<button ng-click="go('/wristbandcard/transaction')" class="btn btn-default"><span>View Transaction</span></button>
		</li>  
		<li ng-class="{'active' :  page == 'history'}">
			<button ng-click="go('/wristbandcard/history')" class="btn btn-default"><span>Purchase History</span></button>
		</li>  
		<li ng-class="{'active' :  page == 'faq'}">
			<button ng-click="go('/wristbandcard/faq')" class="btn btn-default"><span>Card FAQs</span></button>
		</li>  
		<li ng-class="{'active' :  page == 'report'}">
			<button ng-click="go('/wristbandcard/report')" class="btn btn-default"><span>Report Lost or Stolen</span></button>
		</li>
	</ul>
</div>