<div id="home">
	<div ng-include src="'views/shared/menu-home.html'"></div>

	<div class="home-top">
		<div class="container">
			<div class="heading">
				<h1>PAYMENT BETTER. FASTER.</h1>
						<p><em>Thailand's leading Cashless Payments and Transactions</em></p>
			</div>
			<button class="btn btn-primary"><span>REGISTER YOUR WRISTBAND / CARD</span></button>
		</div>
	</div>
	<div class="home-bottom">
		<div id="writbandcard">
			<img src="images/home-wristbandcard.png">
		</div>
		<div class="container">
			<div class="row"><div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-6">
						<h4>CHECK BALANCE</h4>
						<div class="content">
							<form ng-submit="">
							  <div class="form-group">
								<input ng-model="login.username" type="text" class="form-control" placeholder="Wristband Code / Card Number" required>
							  </div>
							  <div class="form-group">
								<input ng-model="login.password" type="password" class="form-control" placeholder="WSC / CSC" required>
							  </div>
							  <button type="submit" class="btn btn-primary btn-md"><span>CHECK BALANCE</span></button>
							</form>
						</div>
					</div>
					<div class="col-md-6">
						<h4 class="text-accent">RELOAD A WRISTBAND / CARD</h4>
						<div class="content">
							<p>
								Is your Wristband/card b alance getting low? Reload in a snap. 
								Don't miss out on the most convenient way to pay!
							</p>
						</div>
						<button class="btn btn-primary btn-md"><span>RELOAD</span></button>
					</div>
				</div>
			</div>
		</div></div>
	</div>
	<div>
		<img src="images/payment.png" style="width: 100%;" alt="">
	</div>
	<div style="height:80px">
	</div>
</div>

<div ng-include src="'views/shared/footer.html'"></div>