<div ng-include src="'views/shared/header.html'"></div>
<div ng-include src="'views/shared/subheader.html'"></div>

<div id="main" class="wristband-card container">

  <h3>Wristband/Card Management</h3>
  	<div class="row">
		<div class="col-sm-4">
			<div id="sidebar-wrapper">
				<div ng-include src="'views/shared/menu-wristbandcard.html'"></div>
			</div>
		</div>
		<div class="col-sm-8">
		  	<div id="page-content-wrapper">
				<div class="page-content">
					<div class="row">
					  	<div class="col-sm-12">
							<h3>Card Information</h3>
							<div class="row">
								<div class="col-xs-4">
									<img src="images/card.PNG" style="width:100%"/>
								</div>
								<div class="col-xs-8">
									<p>
										Card Information: <span class="card-number">4088812048204</span>
									</p>	
									<hr>
									<p>
										Balance = 0.00 <br>
										Status = Registered
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="info">
						Amounts shown are in THB.
					</div>			
				</div>	
			</div>
		</div>
	</div>
</div>

<div ng-include src="'views/shared/footer.html'"></div>
